In [2]:
import pandas as pd

In [3]:
def clean_data(df):
    # Drop rows where SEATS < 200
    df = df.loc[df['SEATS'] >= 200].reset_index(drop=True)

    # Calculate capacity_percent
    df['capacity_percent'] = round((df['PASSENGERS'] / df['SEATS']), 4)

    # Move capacity_percent to index 3
    cols = list(df.columns)
    cols.insert(3, cols.pop(cols.index('capacity_percent')))
    df = df[cols]

    # Exclude unnecessary classes
    valid_classes = ['A', 'C', 'E', 'F']
    df = df[df['CLASS'].isin(valid_classes)]

    # Add Month text column
    month_map = {
        1: 'January', 2: 'February', 3: 'March', 4: 'April',
        5: 'May', 6: 'June', 7: 'July', 8: 'August',
        9: 'September', 10: 'October', 11: 'November', 12: 'December'
    }
    df['MONTH_TEXT'] = df['MONTH'].map(month_map)

    cols = list(df.columns)
    cols.insert(15, cols.pop(cols.index('MONTH_TEXT')))
    df = df[cols]

    return df

In [4]:
data2010 = pd.read_csv('data/flights_2010.csv')
data2010clean = pd.read_csv('clean_data/flights_2010_clean.csv')

In [5]:
# 27 files
for i in range(1999, 2026):
    # load raw file
    df_raw = pd.read_csv(f"data/flights_{i}.csv")

    # clean it
    df_clean = clean_data(df_raw)

    # save output
    df_clean.to_csv(f"clean_data/flights_{i}_clean.csv", index=False)

In [6]:
data2010clean.describe()

,DEPARTURES_PERFORMED,SEATS,PASSENGERS,capacity_percent,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,YEAR,MONTH
count,178691.000000,178691.000000,178691.000000,178691.000000,178691.000000,178691.000000,178691.0,178691.000000
mean,47.311862,4583.613232,3581.851184,0.751269,12668.287608,12666.064111,2010.0,6.569066
std,50.690422,6037.334107,4921.232952,0.168389,1521.683731,1519.898601,0.0,3.435566
min,1.000000,200.000000,0.000000,0.000000,10070.000000,10070.000000,2010.0,1.000000
25%,15.000000,1100.000000,756.000000,0.670500,11292.000000,11292.000000,2010.0,4.000000
50%,31.000000,2750.000000,2032.000000,0.791100,12889.000000,12889.000000,2010.0,7.000000
75%,61.000000,5617.000000,4356.000000,0.875000,14027.000000,13970.000000,2010.0,10.000000
max,888.000000,108279.000000,86174.000000,1.000000,16218.000000,16218.000000,2010.0,12.000000

In [7]:
data2010clean = pd.read_csv('clean_data/flights_2010_clean.csv')
data2010clean

,DEPARTURES_PERFORMED,SEATS,PASSENGERS,capacity_percent,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,YEAR,MONTH_TEXT,MONTH,CLASS
0,1.0,204.0,72.0,0.3529,US,US Airways Inc.,11057,CLT,"Charlotte, NC",NC,14107,PHX,"Phoenix, AZ",AZ,2010,April,4,F
1,1.0,204.0,106.0,0.5196,US,US Airways Inc.,11057,CLT,"Charlotte, NC",NC,14107,PHX,"Phoenix, AZ",AZ,2010,February,2,F
2,1.0,204.0,122.0,0.5980,US,US Airways Inc.,11057,CLT,"Charlotte, NC",NC,10821,BWI,"Baltimore, MD",MD,2010,June,6,F
3,1.0,204.0,125.0,0.6127,US,US Airways Inc.,14492,RDU,"Raleigh/Durham, NC",NC,11057,CLT,"Charlotte, NC",NC,2010,March,3,F
4,1.0,204.0,125.0,0.6127,US,US Airways Inc.,15024,STT,"Charlotte Amalie, VI",VI,14492,RDU,"Raleigh/Durham, NC",NC,2010,March,3,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178686,858.0,104634.0,84322.0,0.8059,HA,Hawaiian Airlines Inc.,12173,HNL,"Honolulu, HI",HI,13830,OGG,"Kahului, HI",HI,2010,July,7,F
178687,874.0,7866.0,4979.0,0.6330,9K,"Hyannis Air Service, Inc. dba Cape Air",10154,ACK,"Nantucket, MA",MA,10721,BOS,"Boston, MA",MA,2010,July,7,F
178688,882.0,107526.0,84717.0,0.7879,HA,Hawaiian Airlines Inc.,13830,OGG,"Kahului, HI",HI,12173,HNL,"Honolulu, HI",HI,2010,August,8,F
178689,888.0,7992.0,5960.0,0.7457,9K,"Hyannis Air Service, Inc. dba Cape Air",10721,BOS,"Boston, MA",MA,10154,ACK,"Nantucket, MA",MA,2010,July,7,F
178690,888.0,108279.0,86174.0,0.7959,HA,Hawaiian Airlines Inc.,13830,OGG,"Kahului, HI",HI,12173,HNL,"Honolulu, HI",HI,2010,July,7,F